.sidebar {
  height: 100vh;
  width: 85px;
  border-right: 1px solid #ececec;
  
}
.vector{
  padding: 6px 0;
  text-align: center;
}
#sidebaricon {
  object-fit: cover;
  cursor: pointer;
}
#sidebartitle {
  font-size: 10px;
  font-family: open sans;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#active {
  background-color: #29b712;
  width: 100%;
}

.item {
    padding: 6px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
